
  #slides {
    display: none
  }

  #slides .slidesjs-previous {
    margin-right: 6px;
    float: left;
  }

  #slides .slidesjs-next {
    margin-right: 5px;
    float: left;
  }

  .slidesjs-pagination {
    margin: 6px 0 0;
    float: right;
    list-style: none;

  }

  .slidesjs-pagination li {
    float: left;
    margin: 0 1px;

  }

  #slides a:link,
  #slides a:visited {
    color: #333
  }
